body {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
}

header {
    color: rgb(2, 49, 2);
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

li {
    margin-top: 15px;
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    align-items: center;
    color: white;
    display: block;
    transition: ease-in;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    -o-transition: ease-in;
}

.navbar a:hover {
    color: darkgreen;
    transform: perspective(3deg);
    -webkit-transform: perspective(3deg);
    -moz-transform: perspective(3deg);
    -ms-transform: perspective(3deg);
    -o-transform: perspective(3deg);
}

#success {
    text-align: center;
}

#success p {
    font-size: xx-large;
}

button {
    max-height: 100px;
    max-width: 350px;
    margin-top: 10px;
    font-size: 25px;
    color: #fff;
    background-color: yellowgreen;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    border-color: rgb(0, 139, 7);
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

footer {
    height: 20%;
    text-align: center;
    padding-top: 20%;
}